
.error-message {
    margin-top: 10px;
    color:#ff0f44;
    font-size: 0.76rem;
    animation: alert-animation 0.5s;
}

main .login-form {
    width: 300px;
}

@keyframes alert-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}