
button.button-component {
    width: 100%;
    max-width: 300px;
    padding: 0.9rem 7.919rem 0.9rem 7.956rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 3.6px;
    margin-top: 20px;
    background-color: #57bbbc;
    color:white;
    font-size: 1.125rem;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.1s;
}

button.button-component:hover{
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

button.button-component:active{
    box-shadow: 0 3px 3px rgba(0,0,0,0.2) inset;
}

button.button-component:disabled {
    background-color: #748383;
}