

.content-alerts {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #b5b4b4;
    font-size: 1.5rem;
    z-index: 0;
    padding: 0 20px;
}