
.input-area {
    border-bottom: 1px solid #383743;
    width: 100%;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.input-area input {
    width: calc(100% - 62px);
    border: 0;
    background-color: transparent;
    padding: 10px;
    outline: none;
    color: #403e4d;
    font-size: 1.1rem;
    font-weight: normal;
    letter-spacing: -0.31px;
}
.input-area input::placeholder {
    color: #383743;
}

.input-area.error {
    border-bottom-color: #ff0f44;
}
.input-area.error input::placeholder{
    color:#ff0f44
}

.input-area.white {
    border-bottom-color: white;
    color: white;
}
.input-area.white .icon{
    border-bottom-color: white;
    color: white;
}
.input-area.white input::placeholder{
    color: #991237;
}
.input-area.white input{
    color: white;
}

.input-area .alert-icon {
    width: 30px;
    height: 30px;
    background-color: #ff0f44;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    margin-left: 5px;
    animation: alert-animation 0.5s;
}

.input-area .alert-icon.error {
    opacity: 1;
}

.input-area .icon {
    color: #ee4c77;
    font-size: 1.3em;
}

.input-area .eye {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.3em;
    cursor: pointer;
}

@keyframes alert-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}