
.enterprise-card {
    background-color: white;
    width: 100%;
    min-height: 200px;
    height: auto;
    border-radius: 4.7px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 40px;
    position: relative;
    flex-wrap: wrap;
}

.enterprise-link {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.enterprise-card img {
    width: auto;
    max-height: 200px;
    max-width: 100%;
}
.enterprise-card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}
.enterprise-card h2 {
    color: #1a0e49;
    font-size: 1.875rem;
    margin: 0;  
}
.enterprise-card h3 {
    color: #8d8c8c;
    font-size: 1.5rem;
    margin: 0;
    font-weight: normal;
}
.enterprise-card p {
    color: #8d8c8c;  
    font-size: 1.125rem;
    margin: 0;
}