
header {
    /* background-image: linear-gradient(180deg,#ee4c77 060%, #0d0430 100%); */
    --medium-pink: #ee4c77;
    --night-blue: #0d0430;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(180deg, var(--medium-pink) 20%, var(--night-blue) 300%);
    padding: 0 30px;
    display: flex;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    z-index: 100;
}

header .search-btn, header .back-btn{
    color: white;
    font-size: 1.3em;
    position: absolute;
}
header .search-btn {
    right: 30px;
}
header .back-btn {
    left: 30px;
}

header .header-title {
    position: absolute;
    left: 100px;
    font-size: 20px;
    color: white;
}


.header-out {
    animation: fade-out 0.5s;
    opacity: 0;
}

header img {
    width: 198px;
    height: 48px;
}

header .search-box {
    position: absolute;
    right: 30px;
    width: calc(100% - 60px);
    animation: search-fade-in 1s;
}



@keyframes search-fade-in {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 60px);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}