

.loading-area {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:   rgba(255, 255, 255, 0.6);
}

.loading-area .icon {
    color: #57bbbc;
    font-size: 7rem;
    animation: loading-animation 0.6s infinite;
}

@keyframes loading-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}