body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main.background {
  background-color: #ebe9d7;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

main .content {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  width: 100%;
}

div.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.mw-300 {
  max-width: 300px !important;
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
}

@media (max-width: 767px) {
  main .content {
    padding: 0 10px;
  }
}